<div class="container">
    <br>
    <div class="header row">
        <div align="left" class="col-sm-4 col-md-4">
            <a href="#reslib" class="btn btn-lg btn-mvp">
                <span class="glyphicon glyphicon-picture"></span>
            </a>
        </div>

        <div class="col-sm-4 col-md-4">
            <button data-toggle="modal" href="#coursewave" class="btn-lg btn-mvp" ng-hide="changeCourseName">
                {{courseName}}<span class="caret"></span>
            </button>
            <input class="form-control text-center" placeholder=".col-xs-2" id="focusedInput" type="text"
                   ng-model="courseName" ng-show="changeCourseName"/>
            <button class="btn-lg btn-mvp" ng-click="switch()">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </div>

        <div align="right" class="col-sm-4 col-md-4">
            <a href="#child" class="btn btn-lg btn-mvp">
                <span class="glyphicon glyphicon-lock"></span>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6 col-md-{{classLine}}" ng-repeat="childResCard in childResCards track by $index" draggable>
            <div class="thumbnail">
                <img ng-src="http://115.28.35.182/services/data/app/file/{{childResCard.image}}" ng-alt="{{childResCard.name}}" >
                <div class="caption">
                    <h3 class="text-center">{{childResCard.name}}</h3>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div align="left" >
            <button data-toggle="modal" href="#responsive" class="col-sm-6 col-md-4">
                <span class="glyphicon glyphicon-plus btn-lg"></span>
            </button>
        </div>

        <div align="center">
            <a href="#/couselib" class="col-sm-6 col-md-4">
                <span class="glyphicon glyphicon-home btn-lg"></span>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <div align="right">
                选择布局：
                <select ng-model="layout" ng-change="changeLayout()">
                    <option value="11">1*1</option>
                    <option value="22">2*2</option>
                    <option value="34">3*4</option>
                </select>
            </div>
        </div>
    </div>


    <!--下面为弹出的对话框-->
    <div id="responsive" class="modal fade in" tabindex="-1" data-width="760" style="display: none; width: 760px; margin-left: -379px; margin-top: -266px;" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title text-center">添加一个</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 text-center" >
                    <a href="#/reslib" role="button"><img ng-src="img/reslib.png"ng-lat="素材库"></a>
                </div>
                <div class="col-md-6 text-center">
                    <a href="#/newcard" role="button" ><img ng-src="img/newcard.png"ng-lat="新卡片"></a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default btn-block">取消</button>
        </div>
    </div>

    <!--下面为弹出的对话框-->
    <div id="coursewave" class="modal fade in" tabindex="-1" data-width="760" style="display: none; width: 760px; margin-left: -379px; margin-top: -266px;" aria-hidden="true">
        <div class="modal-header dropup">
            <button type="button" class="close btn-lg" data-dismiss="modal" aria-hidden="true"><span
                    class="caret"></span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-3 col-md-3" ng-repeat="user in users">
                    <a href="#" ng-click="changeCourse(user.user)" class="thumbnail">
                        <img ng-src="{{user.imgUrl}}" alt="{{user.name}}">
                    </a>
                    <h3 class="text-center">{{user.name}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" ng-click="btnCreatCourseWare()" class="btn btn-default btn-block">添加新课件</button>
        </div>
    </div>

</div>